# Cruft
*~
*#
.#*
.DS_Store
@rz
# Test
coverage
.eslintcache

# Logs
*.log
assets/*

# YES NIGEL 100% SURE, ignore all images; iF YOU DONT HAVE THIS YOU WILL*** FUCK UP... just add in the couple you need!!!
*.jpg
!/public/img/*

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

public/image
public/sitemap
#public/dist
*.pbf
*.mbtiles
# Editor/IDE
.idea
component
./server_/
test-results/
playwright-report/
